<div class="container">
    <fieldset>
        <h2 id="signup-form-title" class="text-center">Sign Up</h2>
        <form id="signupForm" name='signupForm' novalidate>

            <!-- First Name -->
            <div class="form-group">
                <label>First Name</label>
                <input class="form-control" type="text" name="firstname" ng-model="signup.user.firstname" pattern="^[a-zA-Z]+$" required>
                <span ng-if="signupForm.firstname.$error.required && signupForm.firstname.$touched">
                    First name is required.
                </span>
            </div>

            <!-- Last Name -->
            <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" type="text" name="lastname" ng-model="signup.user.lastname" pattern="^[a-zA-Z]+$" required>
                <span ng-if="signupForm.lastname.$error.required && signupForm.lastname.$touched">
                    Last name is required.
                </span>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" name="email" ng-model="signup.user.email" required>
                <span ng-if="signupForm.email.$invalid && signupForm.email.$touched">
                    Email is required and must be in example@domain format.
                </span>
            </div>

            <!-- Phone -->
            <div class="form-group">
                <label>Phone</label>
                <input class="form-control" type="text" name="phone" placeholder="(###) ###-####" ng-model="signup.user.phone" pattern="\((\d{3})\)(\d{3})-(\d{4})" maxlength="13">
                <span ng-if="signupForm.phone.$invalid && signupForm.phone.$touched">
                    Phone must be in the format (###)###-####.
                </span>
            </div>

            <!-- Dish -->
            <div class="form-group">
                <label>Number of your <a ui-sref="public.menu" target="_blank">favourite dish</a></label>
                <input class="form-control" type="text" name="dish" ng-model="signup.user.dish" required>
                <span ng-if="signupForm.dish.$error.required && signupForm.dish.$touched">
                    Must be in the correct format (e.g. SP7).
                </span>

                <!-- Not a valid dish number -->
                <span id="error_message" ng-if="!signup.item && signupForm.$valid">
                    {{ signup.error_message }}
                </span>
            </div>

            <!-- Submit Button -->
            <br />
            <button class="btn btn-default" ng-disabled="signupForm.$invalid" ng-click="signup.submit();">
                Submit form
            </button>

            <!-- Info saved -->
            <span id="saved_message" ng-if="signup.item && signupForm.$valid">
                <br / ><br / >
                {{ signup.saved_message }}
                <br / >
                <a ui-sref="public.my-info">Check out your updated info!</a>
            </span>
        </form>
    </fieldset>
</div>
